

<GridLayout columns="* , *, *, *" rows="100 , *, *, 100">


    <Label row="0" col="0" colSpan="3" style="background-color:#152238"></Label>
    <Label row="1" col="0" backgroundColor="yellow"></Label>
    <Label row="2" col="0" backgroundColor="red"></Label>
  

      <!-- <StackLayout  row="1" col="1" rowspan="2" colspan="2" class = "color stack">
        
        <Label text="Im in the Center" class="label" ></Label>

      </StackLayout> -->


    <Label row="1" col="1" rowspan="2" colspan="2" backgroundColor="purple"></Label>
    <Label row="3" col="0" backgroundColor="pink"></Label>
    <Label row="3" col="1" style="background-color:#152238"></Label>
    <Label row="3" col="2" backgroundColor="yellow"></Label>
    <Label row="0" col="3" rowspan="4" backgroundColor="green"></Label>


</GridLayout>