<ActionBar title="Marvie App">
</ActionBar>

<GridLayout rows="*, 210">
    <StackLayout row="0">
        <ListView [items]="items">
            <ng-template let-item="item">
                <StackLayout>
                    <Label [nsRouterLink]="['/item', item.id]" [text]="item.name"></Label>
                </StackLayout>
            </ng-template>
        </ListView>
    </StackLayout>
    <StackLayout row="1">
        <ns-add-to-list (dataEvent)="addData($event)" [item]="item" [textBtn]="'Add'" ></ns-add-to-list>
    </StackLayout>
</GridLayout>
<!-- <ns-gridlayout></ns-gridlayout> -->